<div class="fileupload fileupload-new" data-provides="fileupload">
	<input type="hidden">
    <span class="btn btn-file">
        <span class="fileupload-new">
        	<i class="fa fa-paper-clip"></i> 
        	{{ submit_text }}
        </span>
        <span class="fileupload-exists">
        	<i class="fa fa-undo"></i>
        	Change
        </span>
        <input type="file" class="default" name="{{ field_name }}">
    </span>
    <span class="fileupload-preview" style="margin-left:5px;"></span>
    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
</div>